.App {
    /* background-color: rgb(208, 208, 247);*/
    background-color: black;
    text-align: center;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    color: rgb(27, 27, 27);
}